body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  background: var(--color-page-bg);
  color: var(--color-text);
  line-height: 1.5;
}

body.is-menu-open {
  overflow: hidden;
}

main {
  overflow: hidden;
}
