@use "abstracts/variables";
@use "abstracts/mixins";
@use "abstracts/functions";

@use "base/fonts";
@use "base/typography";

@use "components/container";
@use "components/button";
@use "components/form";
@use "components/section";

@use "layout/header";
@use "layout/footer";

@use "blocks/hero";
@use "blocks/about";
@use "blocks/services";
@use "blocks/projects";

.editor-styles-wrapper {
  .gss-about,
  .gss-services {
    max-width: none !important;
    width: 100%;
  }

  .gss-about__container {
    max-width: 970px !important;
  }

  .gss-services__container {
    max-width: 968px !important;
  }

  .gss-about,
  .gss-services {
    :where(
      .wp-block-group,
      .wp-block-image,
      .wp-block-heading,
      p,
      .wp-block-buttons
    ) {
      margin-block-start: 0;
      margin-block-end: 0;
    }
  }

  .gss-projects {
    max-width: none !important;
    width: 100%;
  }

  .gss-projects__container {
    max-width: 968px !important;
  }

  .gss-projects :where(.wp-block-group, .wp-block-image, .wp-block-heading, p) {
    margin-block-start: 0;
    margin-block-end: 0;
  }
}
